@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 10;
	src: url('../fonts/dana/eot/dana-thin.eot');
    src: url('../fonts/dana/eot/dana-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dana/woff2/dana-thin.woff2') format('woff2'),
         url('../fonts/dana/woff/dana-thin.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/dana/eot/dana-extralight.eot');
	src: url('../fonts/dana/eot/dana-extralight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-extralight.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-extralight.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/dana/eot/dana-light.eot');
	src: url('../fonts/dana/eot/dana-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-light.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-light.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/dana/eot/dana-medium.eot');
	src: url('../fonts/dana/eot/dana-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-medium.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-medium.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/dana/eot/dana-demibold.eot');
	src: url('../fonts/dana/eot/dana-demibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-demibold.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-demibold.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 750;
	src: url('../fonts/dana/eot/dana-ultrabold.eot');
	src: url('../fonts/dana/eot/dana-ultrabold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-ultrabold.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-ultrabold.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/dana/eot/dana-extrabold.eot');
	src: url('../fonts/dana/eot/dana-extrabold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-extrabold.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-extrabold.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/dana/eot/dana-black.eot');
	src: url('../fonts/dana/eot/dana-black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-black.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-black.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/dana/eot/dana-bold.eot');
	src: url('../fonts/dana/eot/dana-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-bold.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-bold.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/dana/eot/dana-regular.eot');
	src: url('../fonts/dana/eot/dana-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-regular.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-regular.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: 10;
	src: url('../fonts/dana/eot/dana-thinitalic.eot');
	src: url('../fonts/dana/eot/dana-thinitalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-thinitalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-thinitalic.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: 200;
	src: url('../fonts/dana/eot/dana-extralightitalic.eot');
	src: url('../fonts/dana/eot/dana-extralightitalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-extralightitalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-extralightitalic.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/dana/eot/dana-lightitalic.eot');
	src: url('../fonts/dana/eot/dana-lightitalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-lightitalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-lightitalic.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/dana/eot/dana-mediumitalic.eot');
	src: url('../fonts/dana/eot/dana-mediumitalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-mediumitalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-mediumitalic.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/dana/eot/dana-demibolditalic.eot');
	src: url('../fonts/dana/eot/dana-demibolditalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-demibolditalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-demibolditalic.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: 750;
	src: url('../fonts/dana/eot/dana-ultrabolditalic.eot');
	src: url('../fonts/dana/eot/dana-ultrabolditalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-ultrabolditalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-ultrabolditalic.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: 800;
	src: url('../fonts/dana/eot/dana-extrabolditalic.eot');
	src: url('../fonts/dana/eot/dana-extrabolditalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-extrabolditalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-extrabolditalic.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: 900;
	src: url('../fonts/dana/eot/dana-blackitalic.eot');
	src: url('../fonts/dana/eot/dana-blackitalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-blackitalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-blackitalic.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/dana/eot/dana-bolditalic.eot');
	src: url('../fonts/dana/eot/dana-bolditalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-bolditalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-bolditalic.woff') format('woff');
}

@font-face {
	font-family: dana;
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/dana/eot/dana-regularitalic.eot');
	src: url('../fonts/dana/eot/dana-regularitalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/dana/woff2/dana-regularitalic.woff2') format('woff2'),
		 url('../fonts/dana/woff/dana-regularitalic.woff') format('woff');
}

/* Custom Direction Classes */
.dir-rtl {
	direction: rtl;
}

.dir-ltr {
	direction: ltr;
}

/* CSS */
html {
    height: 100%;
}

body {
	min-height: 100%;
}

[dir="rtl"] {
    font-family: dana!important;
}

#aside {
    position: fixed;
    top: 0;
    left: -256px;
    width: 256px;
    height: 100%;
    z-index: 99;
    transition: 0.2s;
}

[dir="rtl"] #aside {
    right: -256px;
    left: auto;
}

.aside-open #aside {
	left: 0;
}

[dir="rtl"] .aside-open #aside {
	right: 0;
	left: auto;
}

@media (min-width: 1024px) {
	#aside {
		left: 0;
	}

	[dir="rtl"] #aside {
		right: 0;
		left: auto;
	}
}

#main {
    margin-left: 0;
}

[dir="rtl"] #main {
    margin-right: 0;
    margin-left: unset;
}

@media (min-width: 1024px) {
    #main {
        margin-left: 256px;
    }

    [dir="rtl"] #main {
        margin-right: 256px;
    }
}

/* Select 2 */
.select2-container {
	@apply w-full !important;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
	@apply py-0 px-4 !important;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	@apply left-3;
}

.select2-selection__arrow {
	@apply hidden !important;
}

.select2-selection__rendered::after {
	content: "\f078";
	font-family: "Font Awesome 5 Pro";
	left: 18px;
	@apply font-light text-xs absolute text-gray-400;
}

.select2-container--open .select2-selection__rendered::after {
	content: "\f077" !important;
}

.select2-selection--single, .select2-selection__rendered {
	@apply h-10 !important;
}

.select2-selection__rendered {
	@apply flex items-center !important;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
	left: 45px;
	@apply absolute text-xl top-2.5 text-gray-400;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	@apply bg-blue-50 text-gray-700;
}

.select2-results__option {
	@apply text-gray-700;
}